*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    display: flex;
    background-color: #D12027;
    color: white;
}

.header{
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Title{
    font-size: 20px;
    font-weight: 900;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 3rem;
}

.links a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 200;
    border: 1px solid white;
    width: 80px;
    height: 50px;
}

.links a:hover{
    color: #D12027;
    background-color: white;
}


.container{
    width: 80%;
    margin: 0px 10% 0px 10%;
    height: 100%;
    flex-direction: column;

}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h1{
    font-size: 50px;
    font-weight:bolder ;
    margin-bottom: 1rem;
}

.content p{
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 1rem;
}
.text{
    width: 50%;
}

img{
    width: 40vw;
}
.try-btn{
    width: 80px;
    height: 35px;
    margin-right: 1rem;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.watch-btn{
    width: 120px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: #0064E8;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}