*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    display: flex;
    background-color: #D12027;
    color: white;
}
.header{
    height: 25vh;
    width: 80%;
    display: flex;
}

.container{
    width: 80%;
    margin: 0px 10% 0px 10%;
    height: 100%;
    flex-direction: column;

}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 500px;
    height: 600px;
}